// Styling for the masthead
header.masthead {
  position: relative;

  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;

  //color: purple;
  background-color: #f2f0ed;
  // background: url('../images/bg-pattern.png'), $theme-secondary;
  // background: url('../images/bg-pattern.png'),
  //   -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
  // background: url('../images/bg-pattern.png'),
  //   linear-gradient(to left, $theme-secondary, $theme-tertiary);
  .header-content {

  }
  .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
    .screen img {
      border-radius: 3px;
    }
  }

  padding-top: 2em;
    padding-bottom: 2em;

  @media (min-width: 992px) {
    //height: 100vh;
    //min-height: 775px;
    padding-top: 2em;
    padding-bottom: 2em;
    .header-content {
      margin-bottom: 0;

      text-align: left;

    }
    .device-container {
      max-width: 325px;
    }
  }
}
